:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --text-color-primary: #1f1f1f;
  --text-color-secondry: #6d6d6d;
  --text-color-ghost: #C9C9C9;
  --text-color-disabled: #9A9A9A;

  --element-color-active: #606060;
  --element-color-unactive: #dadada;
  --elemenet-color-delete-unactive: #B4383840;
  --elemenet-color-delete-active: #B43838;

  --border-color-hover-input: #B4B4B4;
  --border-color-active: #606060;
  --border-color: #f2f2f2;

  --background-color: #f2f2f2;
}